<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<form th:action="@{/oauth/join/google}" method="post" enctype="application/x-www-form-urlencoded">
    <!-- OAuth 토큰을 Authorization 헤더에 동적으로 설정 -->
    <input type="hidden" name="Authorization" th:value="${oauthToken}" />

    <div>
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" required />
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
    </div>

    <!-- 가입하기 버튼 클릭 시 폼 전송 -->
    <div>
        <button type="submit">가입하기</button>
    </div>
</form>
</body>
</html>